<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

	<test name="flipkart">
		<classes>
			<class name="TestNGPratice.RunMutipleTestSuite.Flipkart" />
		</classes>
	</test>

	<test name="Myntra">
		<classes>
			<class name="TestNGPratice.RunMutipleTestSuite.SnapDeal" />
		</classes>
	</test>
</suite> <!--
Suite -->
